<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ma Synthèse</title>
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body>
        <form method="post" action="indxform">
            <div class="header">
                <img src="/static/octoptimist.svg" alt="Octo pti mist" class="logo">

                <div class="infos {{if not .CssClass.Human.Quadri}} hidden {{end}}">
                    <label class="{{.CssClass.Human.Quadri}}">{{.Datas.Human.Quadri}}</label>
                </div>
                <div class="infos {{if not .CssClass.Human.Quadri}} hidden {{end}}">
                    <label class="{{.CssClass.Human.FirstName}}">{{.Datas.Human.FirstName}}</label><br \>
                    <label class="{{.CssClass.Human.LastName}}">{{.Datas.Human.LastName}}</label>
                </div>
            </div>
            <div class="tools">
                <div class="filters">
                    <label for="authCode">Auth code</label> 
                    <input class="{{.CssClass.AuthCode}}" type="text" name="authCode" value="{{.Datas.AuthCode}}">
                    <label for="idOctoUser">Identifiant</label> 
                    <input class="{{.CssClass.Id}}" type="text" name="idOctoUser" value="{{.Datas.Id}}">
                    <label for="startdate"> Période du </label>
                    <input class="{{.CssClass.StartDate}}" type="date" name="startdate" value="{{.Datas.StartDate}}">
                    <label for="enddate"> au </label>
                    <input class="{{.CssClass.EndDate}}" type="date" name="enddate" value="{{.Datas.EndDate}}">

                    <input type="submit" value="Rafraichir">
                </div>
                <div class="infos {{if not .CssClass.TotalWorkDays}} hidden {{end}}">
                    <label for="totalWorkDays" class="smallText">Jours ouvrés</label><br/>
                    <label class="{{.CssClass.TotalWorkDays}}" name="totalWorkDays">{{.Datas.TotalWorkDays}}</label>
                </div>
                <div class="infos {{if not .CssClass.TacePeriod}} hidden {{end}}">
                    <label for="tacePeriod" class="smallText">Tace période</label><br/>
                    <label class="{{.CssClass.TacePeriod}}" name="tacePeriod">{{.Datas.TacePeriod}} %</label><br>
                </div>
                <div class="infos {{if not .CssClass.TaceFiscalYear}} hidden {{end}}">
                    <label for="TaceFiscalYear" class="smallText">Tace FY{{.Datas.FiscalYear}}</label><br/>
                    <label class="{{.CssClass.TaceFiscalYear}}" name="TaceFiscalYear">{{.Datas.TaceFiscalYear}} %</label><br>
                </div>
            </div>
            <div class="result">
                <div class="table">
                    {{range .Lines}}
                    <div class="row {{.Kind}}  {{if .IsLineSubTotal}}isSubTotal{{end}} {{if .IsLineTotal}}isTotal{{end}}">
                        <div class="little">{{.Kind}}</div>
                        <div class="large">{{.Reference}}{{if .Reference}}&nbsp;-&nbsp;{{end}}{{.CustomerName}}{{if .CustomerName}}&nbsp;-&nbsp;{{end}}{{.ProjectName}}</div>
                        <div class="medium">{{.Title}}</div>
                        <div class="little">{{.TimeSum}}</div>
                    </div>
                    {{end}}
                </div>
            </div>
        </form>
    </body>
</html>
