<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ma Synthèse</title>
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body>
        <form method="post" action="indxform">
            <div class="head">
                <label for="idOctoUser">Identifiant</label> 
                <input class="{{.CssClass.Id}}" type="text" name="idOctoUser" value="{{.Datas.Id}}">
                <label for="startdate"> Période du </label>
                <input class="{{.CssClass.StartDate}}" type="date" name="startdate" value="{{.Datas.StartDate}}">
                <label for="enddate"> au </label>
                <input class="{{.CssClass.EndDate}}" type="date" name="enddate" value="{{.Datas.EndDate}}">

                <input type="submit" value="Rafraichir">
            </div>
            <div class="infos">
                <label for="totalWorkDays">Nb jours ouvrés sur la période : </label>
                <label class="{{.CssClass.TotalWorkDays}}">{{.Datas.TotalWorkDays}}</label>
            </div>
            <div class="result">
                <div class="table">
                    {{range .Lines}}
                    <div class="row {{.Kind}}  {{if .IsLineSubTotal}}isSubTotal{{end}} {{if .IsLineTotal}}isTotal{{end}}">
                        <div class="little">{{.Kind}}</div>
                        <div class="large">{{.Reference}}{{if .Reference}}&nbsp;-&nbsp;{{end}}{{.CustomerName}}{{if .CustomerName}}&nbsp;-&nbsp;{{end}}{{.ProjectName}}</div>
                        <div class="medium">{{.Title}}</div>
                        <div class="little">{{.TimeSum}}</div>
                    </div>
                    {{end}}
                </div>
            </div>
        </form>
    </body>
</html>
