<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Octo'ptimiste</title>
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body>
        <form method="post" action="synthesis">
            <div class="header">
                <img src="/static/octoptimist.svg" alt="Octo pti mist" class="logo">
                <div class="filters automarginleft">
                    <div class="innerfilters">
                        <label for="ngram">3/4-gramme&nbsp;</label>
                        <input class="{{.CssClass.NGram}}" type="text" name="ngram" value="{{.Datas.NGram}}"><br\>
                        <input type="submit" value="Change" name="btnNGramChange">
                    </div>
                </div>
                <div class="filters">
                    <div class="innerfilters">
                        <input type="submit" value="&larr;"  name="btnFYPrev">
                        <label for="btnFYPrev">&nbsp;FY{{.Datas.FiscalYear}}&nbsp;</label>
                        <input type="submit" value="&rarr;" name="btnFYNext">
                    </div>
                </div>
                <div class="filters">
                    <div class="innerfilters">
                        <label for="startdate"> Période du </label>
                        <input class="{{.CssClass.StartDate}}" type="date" name="startdate" value="{{.Datas.StartDate}}"><br\>
                        <label for="enddate"> au </label>
                        <input class="{{.CssClass.EndDate}}" type="date" name="enddate" value="{{.Datas.EndDate}}">

                        <input type="submit" value="Rafraichir" name="btnRefresh">
                    </div>
                </div>
                <div class="filters">
                    <div class="innerfilters">
                        <input type="submit" value="Déconnexion" name="btnExit">
                    </div>
                </div>
            </div>
            <div class="tools"> 
                <div class="infos {{if not .CssClass.Human.Quadri}} hidden {{end}}">
                    <div class="simple"><label class="{{.CssClass.Human.Quadri}}">{{.Datas.Human.Quadri}}</label></div>
                    <div class="simple"><label class="{{.CssClass.Human.Team}}">{{.Datas.Human.Team}}</label></div>
                </div>
                <div class="infos {{if not .CssClass.Human.Quadri}} hidden {{end}}">
                    <div class="simple"><label class="{{.CssClass.Human.FirstName}}">{{.Datas.Human.FirstName}}</label></div>
                    <div class="simple"><label class="{{.CssClass.Human.LastName}}">{{.Datas.Human.LastName}}</label></div>
                    <div class="simple"><label class="{{.CssClass.Human.ID}}">N° {{.Datas.Human.ID}}</label></div>
                    <div class="simple"><label class="{{.CssClass.Human.EntryDate}}">depuis le {{.Datas.Human.EntryDate}}</label></div>
                </div>
                <div class="infos {{if not .CssClass.Human.TargetTace}} hidden {{end}}">
                    <label for="TaceTarget" class="smallText">Tace objectif</label><br/>
                    <label class="{{.CssClass.Human.TargetTace}}" name="TaceTarget">{{.Datas.Human.TargetTace}} %</label><br>
                    <label for="TaceTarget" class="smallText">{{.Datas.Human.JobName}}</label>
                </div>                
                <div class="infos {{if not .CssClass.TotalWorkDays}} hidden {{end}}">
                    <label for="totalWorkDays" class="smallText">Jours ouvrés</label><br/>
                    <label class="{{.CssClass.TotalWorkDays}}" name="totalWorkDays">{{.Datas.TotalWorkDays}}</label>
                </div>
                <div class="infos {{if not .CssClass.TacePeriod}} hidden {{end}}">
                    <label for="tacePeriod" class="smallText">Tace période</label><br/>
                    <label class="{{.CssClass.TacePeriod}}" name="tacePeriod">{{.Datas.TacePeriod}} %</label><br>
                </div>
                <div class="infos {{if not .CssClass.TaceFiscalYear}} hidden {{end}}">
                    <label for="TaceFiscalYear" class="smallText">Tace FY{{.Datas.FiscalYear}}</label><br/>
                    <label class="{{.CssClass.TaceFiscalYear}}" name="TaceFiscalYear">{{.Datas.TaceFiscalYear}} %</label><br>
                </div>
                <div class="optimist {{if not .CssClass.TaceOptimist}} hidden {{end}}">
                    <label for="TaceOptimist" class="smallText">Tace optimiste</label><br/>
                    <label class="{{.CssClass.TaceOptimist}}" name="TaceOptimist">{{.Datas.TaceOptimist}} %</label><br>
                </div>
                <div class="infos {{if not .CssClass.TaceInternal}} hidden {{end}}">
                    <label for="TaceInternal" class="smallText">Tace FY{{.Datas.FiscalYear}}</label><br/>
                    <label class="{{.CssClass.TaceInternal}}" name="TaceInternal">{{.Datas.TaceInternal}} %</label><br>
                    <label for="TaceTarget" class="smallText">Interne inclus</label>
                </div>
            </div>
            <div class="result">
                <div class="table">
                    <div class="row headRow">
                        <div class="medium">Titre</div>
                        <div class="large">Projet</div>
                        <div class="little">Done</div>
                        <div class="little">To do</div>
                        <div class="little">Total</div>
                    </div>
                    {{range .Lines}}
                    <div class="row {{.Kind}}  {{if .IsLineSubTotal}}isSubTotal{{end}} {{if .IsLineTotal}}isTotal{{end}}">
                        <div class="medium">{{.Title}}</div>
                        <div class="large">{{.Reference}}{{if .Reference}}&nbsp;-&nbsp;{{end}}{{.CustomerName}}{{if .CustomerName}}&nbsp;-&nbsp;{{end}}{{.ProjectName}}</div>
                        <div class="little">{{.TimeSumDone}}</div>
                        <div class="little secondaryColor">{{.TimeSumTodo}}</div>
                        <div class="little">{{.TimeSum}}</div>
                    </div>
                    {{end}}
                </div>
            </div>
            <div class="hidden">
                <input name="accessToken" value="{{.AccessToken}}">
                <input name="idOctoUser" value="{{.Datas.Id}}">
                <input name="mode" value="{{.ModeConnexion}}">
            </div>
        </form>
    </body>
</html>
