input {
    background-color: white;
    border-style: solid;
    border-radius: 25px;
    color: #0e2356;
    padding: 4px;
}

input[type="submit"]{
    cursor:pointer;
    background-color: transparent;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 25px;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
}

body {
    font-family:  sans-serif;
    background-color: #0e2356;
}

.head {
    border-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 2px;
    display: inline-block;
    color: white;
}

.infos {
    background-color: white;
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 2px;
    display: inline-block;
    color: #0e2356;
    text-align: center;
}

.result {
    border-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 25px;
    padding: 20px;
    margin-top: 20px;
}

.error {
    border-color: red;
}

.table {
    display: table;
}

.row {
    font-size: small;
    display: table-row;
}

.little{
    width: 5%;
    padding: 0.5em;
    display: table-cell;
}

.medium{
    width: 15%;
    padding: 0.5em;
    display: table-cell;
}

.large{
    width: 20%;
    padding: 0.5em;
    display: table-cell;
}

.billable, .not_billable,.permanent, .absence  {
    border-bottom-style: solid;
    border-bottom-color: gray;
    border-bottom-width: 1px;
    padding: 2px;
    color: aliceblue;
}

.isSubTotal {
    background-color: rgba(255,255,255,0.3);
    font-weight: bold;
    font-weight: bolder;
    padding-top: 5px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.isTotal {
    background-color: rgba(255,255,255,0.5);
    font-weight: bold;
    font-weight: bolder;
    padding-top: 5px;
    border-radius: 25px;
    margin-top: 1px;
}

.hidden {
    display: none;
}

.bigNumber {
    font-size: xx-large;
}