input {
    border-color: blueviolet;
}

body {
    font-family:  sans-serif;
}

.error {
    border-color: red;
}

ul {
    list-style-type:none;
    width: 100%;
}

.result {
    box-sizing: border-box;
  }

ul .row {
display: flex;
flex-wrap: wrap;
}

ul .row li {
padding: 0.5em;
display: flex;
align-items: flex-end;
}

.right {
    text-align: right;
}

.little{
    flex: 0 0 10%;
}

.medium{
    flex: 0 0 15%;
}

.large{
    flex: 0 0 35%;
}