input {
    background-color: white;
    border-style: solid;
    border-radius: 20px;
    color: #0e2356;
    padding: 4px;
}

input[type="submit"]{
    cursor:pointer;
    background-color: #00afcb;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
    box-shadow: 3px 3px .4em white;
}

input[type="date"]{
    margin-right: 10px;
    margin-left: 10px;
}

body {
    font-family:  sans-serif;
    background-color: #0e2356;
}

.header {
    background-color: rgba(255,255,255,0.8);
    border-radius: 20px;
    display: flex;
    margin-bottom: 15px;
    justify-content:center;
}

.tools {
    display: flex;
    justify-content:center;
}

.simple {
    display: block;
}
.logo {
    display: inline-block;
    padding: 10px;
  }

.head {
    vertical-align: top;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 2px;
    display: inline-block;
    color: white;
}

.automarginleft {
    margin-left: auto;
}
.filters {
    vertical-align: top;
    padding: 20px;
    display: flex;
    color: white;
    align-items: center;
}
.innerfilters {
    background-color: #0e2356;
    border-radius: 20px;
    padding: 20px;
}

.infos {
    vertical-align: top;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 2px;
    color: #0e2356;
    text-align: center;
    margin-right: 10px;
}

.optimist {
    vertical-align: top;
    background-color: #00afcb;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 2px;
    display: inline-block;
    color: #0e2356;
    text-align: center;
}

.result {
    border-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
}

.error {
    border-color: red;
}

.table {
    display: table;
}

.row {
    font-size: small;
    display: table-row;
}

.little{
    width: 5%;
    padding: 0.5em;
    display: table-cell;
}

.medium{
    width: 15%;
    padding: 0.5em;
    display: table-cell;
}

.large{
    width: 20%;
    padding: 0.5em;
    display: table-cell;
}

.headRow {
    background-color: rgba(255,255,255,0.8);
    font-weight: 600;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-style: solid;
}

.billable, .not_billable,.permanent, .absence  {
    border-bottom-style: solid;
    border-bottom-color: gray;
    border-bottom-width: 1px;
    padding: 2px;
    color: aliceblue;
}

.isSubTotal {
    background-color: rgba(255,255,255,0.3);
    font-weight: bold;
    font-weight: bolder;
    padding-top: 5px;
}

.isTotal {
    background-color: rgba(255,255,255,0.5);
    font-weight: bold;
    font-weight: bolder;
    padding-top: 5px;
    margin-top: 1px;
}

.hidden {
    display: none;
}

.bigText {
    font-size: xx-large;
}
.smallText {
    font-size: smaller;
}

.secondaryColor {
    color:#00afcb;
}